body{
    background: peachpuff url("aboutBackground.jpg") fixed;
    background-size: 100% 100%;
}

h3{
    font-family: Comic Sans MS;
    color: rgb(194, 8, 8);
    /* font-size:30px; */
    text-align: center;
    font-style: italic;
}

.Thanks h4{
    font-family: Comic Sans MS;
    color: rgb(130, 13, 226);
    /* font-size:30px; */
    text-align: center;
    font-style: bold;
    top: 50%;
    left: 50%;
    transform: translate(0%, 280%);
}

.email h4{
    font-family: Comic Sans MS;
    color: rgb(255, 94, 0);
    /* font-size:30px; */
    text-align: left;
    font-style: bold;
    top: 50%;
    left: 50%;
    transform: translate(0%, 1800%);
}